@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;

  @media(max-width: 767px) {
    padding: 0 28px;
  }

  @media(min-width: 1120px) {
    padding: 0;
  }
}

.mv {
  margin-inline: calc(50% - 50vw);

  img {
    width: 100%;
  }

  @media(max-width: 767px) {
    margin-block-start: 24px;
  }
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 40px;

  @media(max-width: 767px) {
    font-size: 32px;
  }
}

h4 {
  font-weight: normal;
  font-size: 16px;
  color: #666;
  margin-block-start: calc((8 / 2690) * 100%);
}

p {
  font-size: 18px;
  color: #666;

  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.container {
  display: flex;

  @media(max-width: 767px) {
    flex-direction: column;
  }
}

header {
  font-family: "Inter", sans-serif;


  .container {
    justify-content: space-between;
    flex-direction: row;
    margin-inline: calc((160 / 1440) * 100%);
    margin-block: calc((40 / 2690) * 100%);

    @media(max-width: 767px) {
      flex-direction: column;
      text-align: center;
      margin-block-start: 16px;
    }
  }

  h1 {
    font-size: 32px;
    color: #a6865f;
    font-weight: bold;
  }

  ul {
    margin-block-start: 9px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    color: #333;
    gap: 32px;

    @media(max-width: 767px) {
      font-size: 16px;
      justify-content: center;
      margin-block-start: 24px
    }
  }

  a:visited {
    color: #333;
    text-decoration: none;
  }
}

.concept {
  margin-block-start: 64px;
  text-align: center;

  h2 {
    font-size: 40px;
    font-family: "Zen Old Mincho", serif;
    font-weight: bolder;
    color: #a6865f;

    @media(max-width: 767px) {
      font-size: 32px;
    }
  }

  @media(max-width: 767px) {
    margin-block-start: 40px;
    margin-left: calc((28 / 360) * 100%);
    margin-right: calc((10 / 360) * 100%);
  }

  p {
    @media(max-width: 767px) {
      margin-inline-end: calc((18 / 304) * 100%)
    }
  }
}

.concept div {
  margin-top: 32px;
  ;

  p:nth-child(2) {
    margin-top: 24px;
  }
}

h3 {
  span {
    margin-block-start: 8px;
    display: block;
    font-size: 16px;
    font-weight: normal;

    @media(max-width: 767px) {
      font-size: 14px;
    }
  }
}

.about {
  margin-block-start: 120px;

  h3 {
    @media(max-width: 767px) {
      margin-block-start: 40px;
    }
  }

  h3+p {
    margin-block-start: 40px;

    @media(max-width: 767px) {
      margin-block-start: 24px;
    }
  }

  p {
    margin-block-start: 24px;

    @media(max-width: 767px) {
      margin-block-start: 16px;
    }
  }

  .container {
    gap: calc((64 / 1120) * 100%);
  }

  .fig {
    width: calc((544 / 1120 * 100%));

    @media (max-width: 767px) {
      width: auto;
    }

    img {
      width: 100%;
    }

  }

  .content {
    width: calc((512 / 1120) * 100%);
    margin-block: auto;

    @media(max-width: 767px) {
      width: auto;
    }
  }

  mark {
    background-color: #ffe70d;
    color: #666;
  }

  .button {
    margin-block-start: 64px;
    width: 244px;
    height: 64px;
    border-radius: 10px;
    background: linear-gradient(#c49f72 0%, #a6865F 100%);

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 22px;
    }

    a::before {
      content: "";
      display: block;
      background-image: url(img/fig-button-point.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 22px;
      height: 28px;
      margin-right: calc((16/480) * 100%);
    }

    @media(max-width: 767px) {
      margin-inline: auto;
      margin-block-start: 32px;
    }
  }

  .button:hover{
    @media(hover: hover){
      opacity: 0.8;
    }
  }

  @media(max-width: 767px) {
    margin-block-start: 80px;
  }
}

.gallary {
  margin-block-start: 80px;

  .container {
    gap: 32px;
    flex-wrap: wrap;
    margin-block-start: 40px;

    @media(max-width: 767px) {
      flex-wrap: nowrap;
      margin-block-start: 40px;
    }
  }

  @media(max-width: 767px) {
    margin-block-start: 80px;
  }

  img {
    width: 100%;
  }

}

footer {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  text-align: center;
  margin-block-start: calc((100 / 2690) * 100%);
  margin-block-end: calc((40 / 2690) * 100%);

  @media(max-width: 767px) {
    margin-block-start: 80px;
    margin-block-end: 24px;
  }
}